@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #eee2d0;
}

.video_container {
    display: flex;
    justify-content: flex-end; 
    height: 90vh; 
    margin-right: 10%;
    margin-bottom: 14vh;
}

.video {
    width: 35%; 
    max-width: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
}

.mission-text-container {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    text-align: center;
    line-height: 2.5rem;
  }

.mission-text{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(113, 111, 111);
    font-size: 60px;
    
}

.mission-text-italic{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(113, 111, 111);
    font-style: italic;
    font-size: 60px;
    color: orange;
}

.mission-text-bold{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(113, 111, 111);
    font-weight: 2000;
    font-size: 60px;
    color: orange;
}

.mission-text-outline{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(113, 111, 111);
    font-size: 80px;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: green;
    -webkit-text-fill-color: transparent; */
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orange;
    
}

.speaker-button {
    position: fixed;
    height: 30px;
    width: 32px;
    bottom: 30px;
    right: 60px;
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid orange;
    
}

.speaker-button:hover {
    background-color: orange;
}



