@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.gallery-container{
    position: absolute;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    margin-left: 50px;
    
}

.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background-color: #ccc;
    border-radius: 20px;
}.slider {
    position: absolute;
    inset: 80px 200px 80px 80px;
    background-color: #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.slider .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background-size: cover;
    background-position: cover;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: var(--img);
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;

}

.slider .slides:nth-child(3) {
    left: calc(50% + 240px);
}

.slider .slides:nth-child(4) {
    left: calc(50% + 500px);
}

.slider .slides:nth-child(5) {
    left: calc(50% + 760px);
}

.slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    opacity: 0;
}

.cam-buttons {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-80%);
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}

.cam-buttons .span {
    width: 50px;
    height: 50px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.cam-buttons .span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}

.cam-buttons .span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px, 2px);
}

.cam-buttons .span:active {
    opacity: 0.5;
}

.content {
    position: relative;
    padding: 40px;
    max-width: 800px;
    transition: opacity 0.25s, transform 0.25s;
    transition-delay: 0;
    transform: translateY(30px);
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
}

.content-header{
    font-size: 4em;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
}

.content-sub{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.slider .content {
    opacity: 1; 
    pointer-events: auto;
}

.slider, .slides:nth-child(1), .content,
.slider, .slides:nth-child(2), .content {
    transform: translateY(0px);
}

.explore-camera-button{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 900px){
    .slider{
        position: absolute;
        inset: 40px 40px 200px 40px;
    }

    .slider, .slides{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    .slider, .slides:nth-child(1), 
    .slider, .slides:nth-child(2){
        top: initial;
        bottom: 0px;
    }

    .slider, .slides:nth-child(3){
        left: 0;
    }

    .slider, .slides:nth-child(4){
        left: 120px;
    }

    .slider, .slides:nth-child(5){
        left: 240px;
    }

    .slider, .slides:nth-child(6){
        left: 360px;
    }
}
