.cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    background-color: rgba(241, 126, 38, 0.667);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  