@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html{
  height: 100%;
  overflow-y: auto;
}

.cardContainer {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 100px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
  }
  
  .title {
    text-align: center;
    margin: 0px;
    font-size: 28px;
    font-family: 'Playfair Display', sans-serif;
  }
  
  .body {
    display: flex;
    height: 100%;
    margin-top: 50px;
    gap: 50px;
  }
  
  .description {
    width: 40%;
    position: relative;
    top: 10%;
  }
  
  .description-text {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  .description-text::first-letter {
    font-size: 28px;
    font-family: 'Title';
  }
  
  .span-link {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .see-more {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .card-image {
    object-fit: cover;
    width: 500px;
    max-height: 400px;
  }
  
  