@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.split-screen-container {
  display: flex;
}

.split-screen-slider {
  width: 50%;
  height: 80vh;
  margin: 150px 50px 0px 90px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 10px
}

.split-screen-slider-inner {
  display: flex;
  height: 100%;
}

.split-screen-slider-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.split-screen-slider-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.split-screen-slider-controls button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.split-screen-slider-controls button.active {
  background-color: black;
}

.animal-data {
  position: absolute;
  top: 50%;
  right: 300px; 
  transform: translate(0, -40%);
  width: 400px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.animal-name {
  font-weight: bold;
  font-size: 40px; 
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 55px;
  color: rgb(208, 144, 25);
}

.animal-info {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Adjust the font size as needed */
  margin-bottom: 10px;
}

.animal-info strong {
  font-weight: bold;
}


